.users{
  width: 100%;
  background-color: gray;
  color: wheat;
  margin: 1px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.picture img{
  border-radius: 50%;
  margin: 5px;
}

.user-info{
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.name{
  width: 80%;
}

.user-id{
  width: 70%;
  display: flex;
  justify-content: space-between;
}